[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pandocfilters = "*"
googleapis-common-protos = "*"
cloudpickle = "*"
Flask = "*"
service_identity = "*"
cffi = "*"
pywin32 = "*"
pathlib = "*"
Scrapy = "*"
attrs = "*"
networkx = "*"
numexpr = "*"
"path.py" = "*"
CacheControl = "*"
jupyterlab-launcher = "*"
google-auth = "*"
stopit = "*"
oauthlib = "*"
wrapt = "*"
backports_abc = "*"
psycopg2 = "*"
Django = "*"
distributed = "*"
isort = "*"
blaze = "*"
ipython_genutils = "*"
sympy = "*"
itsdangerous = "*"
imbalanced-learn = "*"
xlwt = "*"
pathlib2 = "*"
openpyxl = "*"
cryptography = "*"
alabaster = "*"
Twisted = "*"
MarkupSafe = "*"
scipy = "*"
comtypes = "*"
bleach = "*"
Pillow = "*"
decorator = "*"
contextlib2 = "*"
jupyter-client = "*"
pyOpenSSL = "*"
scikit-learn = "*"
pandas = "*"
psutil = "*"
mpmath = "*"
greenlet = "*"
nose = "*"
h5py = "*"
whitenoise = "*"
"backports.ssl_match_hostname" = "*"
QtAwesome = "*"
funcsigs = "*"
Werkzeug = "*"
pydotplus = "*"
anaconda-client = "*"
w3lib = "*"
Jinja2 = "*"
win_inet_pton = "*"
gevent = "*"
jsonschema = "*"
odo = "*"
bitarray = "*"
deap = "*"
pyodbc = "*"
click = "*"
virtualenv = "*"
rope = "*"
multipledispatch = "*"
win-unicode-console = "*"
python-telegram-bot = "*"
seaborn = "*"
pkginfo = "*"
pew = "*"
et_xmlfile = "*"
google-api-core = "*"
docutils = "*"
jedi = "*"
Pygments = "*"
navigator-updater = "*"
qtconsole = "*"
progress = "*"
olefile = "*"
wincertstore = "*"
entrypoints = "*"
cytoolz = "*"
PyWavelets = "*"
xlwings = "*"
matplotlib = "*"
Babel = "*"
typing = "*"
hypothesis = "*"
ply = "*"
ipython = "*"
msgpack-python = "*"
Cycler = "*"
lockfile = "*"
pickleshare = "*"
glob2 = "*"
mistune = "*"
nbformat = "*"
imageio = "*"
boto = "*"
hyperlink = "*"
"backports.shutil_get_terminal_size" = "*"
wcwidth = "*"
Automat = "*"
vaderSentiment = "*"
pyparsing = "*"
traitlets = "*"
cssselect = "*"
pycodestyle = "*"
conda = "*"
requests = "*"
llvmlite = "*"
pyasn1 = "*"
asn1crypto = "*"
dj-database-url = "*"
lazy-object-proxy = "*"
py = "*"
"backports.functools_lru_cache" = "*"
HeapDict = "*"
Cython = "*"
snowballstemmer = "*"
selenium = "*"
pycparser = "*"
conda-verify = "*"
django-heroku = "*"
toolz = "*"
PySocks = "*"
menuinst = "*"
pyasn1-modules = "*"
constantly = "*"
bokeh = "*"
Pympler = "*"
update-checker = "*"
testpath = "*"
queuelib = "*"
certifi = "*"
numpy = "*"
twitter = "*"
pyzmq = "*"
SQLAlchemy = "*"
Sphinx = "*"
imagesize = "*"
widgetsnbextension = "*"
xlsxwriter = "*"
Flask-Cors = "*"
pylint = "*"
rsa = "*"
Anaconda-Navigator = "*"
zict = "*"
pytz = "*"
jupyter-core = "*"
functools32 = "*"
python-dateutil = "*"
jdcal = "*"
jupyterlab = "*"
prompt_toolkit = "*"
pycurl = "*"
sphinxcontrib-websupport = "*"
virtualenv-clone = "*"
conda-build = "*"
cdecimal = "*"
google-cloud-vision = "*"
QtPy = "*"
future = "*"
chardet = "*"
statsmodels = "*"
"ruamel.yaml" = "*"
grin = "*"
spyder = "*"
parsel = "*"
pipenv = "*"
TPOT = "*"
ipykernel = "*"
"zope.interface" = "*"
grpcio = "*"
cachetools = "*"
numba = "*"
incremental = "*"
singledispatch = "*"
tables = "*"
bkcharts = "*"
sortedcollections = "*"
dask = "*"
xlrd = "*"
configparser = "*"
distlib = "*"
lxml = "*"
partd = "*"
pep8 = "*"
locket = "*"
fastcache = "*"
patsy = "*"
html5lib = "*"
requests-oauthlib = "*"
pytest = "*"
nbconvert = "*"
jupyter_console = "*"
webencodings = "*"
sortedcontainers = "*"
Bottleneck = "*"
pymongo = "*"
subprocess32 = "*"
tqdm = "*"
PyYAML = "*"
clyent = "*"
protobuf = "*"
DataShape = "*"
tornado = "*"
numpydoc = "*"
urllib3 = "*"
scikit-image = "*"
ipywidgets = "*"
PyDispatcher = "*"
astropy = "*"
colorama = "*"
coverage = "*"
beautifulsoup4 = "*"
tblib = "*"
ipaddress = "*"
astroid = "*"
filelock = "*"
pycrypto = "*"
pyflakes = "*"
enum34 = "*"
simplegeneric = "*"
pycosat = "*"
futures = "*"
notebook = "*"
mccabe = "*"
python-twitter = "*"
shutilwhich = "*"
unicodecsv = "*"
anaconda-project = "*"
idna = "*"
nltk = "*"
scandir = "*"


[requires]

python_version = "2.7"
