<!DOCTYPE html>
<html>
<title>Predict MBTI with text!</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 145%}

@media only screen and (max-width:630px) {
body, html {height: 160%}
}

.bgimg {
    background-image: url('https://archive-media-1.nyafuu.org/wg/image/1458/91/1458910657748.jpg');
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
footer ul li {
    display: inline;
    margin-bottom: 100px;
}

</style>
<body>
<div class="bgimg w3-display-container w3-text-white">
	<!-- <div class="w3-container w3-display-middle">
	</div> -->
  {% block body %}{% endblock %}
	<div class="w3-display-bottomleft w3-padding-large">
	    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
	</div>
	<div class="w3-container w3-display-bottommiddle">
	<footer>
		<ul>
			<li><a href="mailto:kyixuan@gmail.com">email</a></li>
			<li><a href="https://github.com/yix90">github.com/yix90</a></li>
		</ul>
	</footer>
	</div>
</div>
</body>
</html>
